<div class = "container">
  <h1> About Deadline Burndown </h1>
  <p> Deadline Burndown (or just Burndown for short) is trying to use the power of scrum and extreme programming to help the writer or student (or anyone else who is measured in this dystopian society not by the quality of their output but the length).</p>

  <p> It's a simple concept really - set up a project, and stay below the blue line. This is the key. The blue line is both your best friend and your worst enemy. Stay below it! </p>

  <p> <img src="img/stay-below.png"> </p>
  <p><em> This person has not stayed below the blue line </em> </p>

  <p> The easiest way to get to grips with Burndown is just to use it for a little while. Make a new project, give it a nice name, and get going. But, wary adventurers, a few tips: </p>
  <ul>
    <li> Don't bite off more than you can chew. A few small projects work better than one huge one. Break big assignments into chapters or sections. </li>
    <li> Don't make the end date your actual deadline... or at least understand that just because you've done your wordcount, it doesn't mean you're finished. Understand that the first time through is a draft, and budget your time accordingly. </li>
    <li> Make a nice, motivational description, and keep an eye on your Burndown often. The description should be a reminder to yourself what is at stake. This is a motivational tool - use it to motivate! </li>
    <li> Stay below the blue line </li>
  </ul>

  <p> Enjoy! </p>

  <% unless session['user_id'] %>
    <a href="/signup" class="btn btn-primary btn-lg active" role="button">Sign Up</a>
  <% end %>

</div>
