<div class='container'>
  <h1> <%= @graph.name %> </h1>
  <p> This project's deadline was <%= @graph.fancy_finish_date %>.</p>
  <p> As you may well be aware, this time has passed. How do you want to handle this awkward situation? You can push back the deadline by 3 days, or you can just mark the project as complete and we'll say no more about it...</p>

  <button type="button" class="btn btn-primary">
    Push back
  </button>
  <button type="button" class="btn btn-primary">
    Mark as complete
  </button>
      
</div>
