<div class="container">
  <form action="/new" method="POST">
    <fieldset class="form-group">
      <label for="name">Project name</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Project name">
    </fieldset>
    <fieldset class="form-group">
      <label for="name">Description</label>
      <input type="text" name="desc" class="form-control" id="desc" placeholder="Project Description">
    </fieldset>
    <fieldset class="form-group">
      <label for="wordcount">I'd like to write</label>
      <input type="number" name="wordcount" class="form-control" id="wordcount" placeholder="Wordcount">
    </fieldset>
    <fieldset class="form-group">
      <label for="days">in</label>
      <input type="number" name="days" class="form-control" id="days" placeholder="Days">
    </fieldset>
    <button type="submit" class="btn">Build Graph</button>
  </form>
</div>
