<div class="container">
  <form action="/signup" class="form-inline" method="POST">
    <p>email address</p>
    <input type="text" placeholder="email" name="email">
    <p>password</p>
    <input type="password" placeholder="password" name="password">
    <p>username</p>
    <input type="text" placeholder="username" name="username">
    <button type="submit" class="btn">submit</button>
  </form>
</div>
