<div class="container">
  <form action="/signin" class="form-inline" method="POST">
    <p>username</p>
    <input type="text" placeholder="username" name="username">
    <p>password</p>
    <input type="password" placeholder="password" name="password">
    <button type="submit" class="btn">submit</button>
  </form>
  <p> Don't have a Burndown account? <a href="/signup">Sign up</a> here. </p>
</div>
